<div ng-if="!vm.hasData()">
    <p class="lead">There are no registered customers.</p>
</div>

<button type="button" class="btn btn-primary">Add customer</button>

<table class="table table-striped" ng-if="vm.hasData()">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="customer in vm.customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>
                <a type="button" class="btn btn-sm btn-danger" ng-click="vm.delete(customer)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
